@keyframes nyan {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 150px);
    }
}

body {
    font-family: 'Monoton', cursive;
    background-color: #36A097;
    box-sizing: border-box;
    background-image: url(https://media.giphy.com/media/RE5iREBNhI0Ok/giphy.gif);  
    cursor: url('http://rainbow.arch.scriptmania.com/scripts/bluebub.gif'), auto;
   
}
  

a {
    color: inherit;
    text-decoration: none;
    transition: all 1s ease-in-out;
    cursor: inherit;
}

a:hover {
    background-color: red;
    transform: scale(1.5) rotate(4turn);
    /* overflow: hidden; */
    text-decoration: none;
    box-shadow: 0 0 10px yellow;
}

nav {
    padding-bottom: 1em;
}

li a {
    padding: .5em;
}

h1 {
    font-size: 3em;
    margin: 0.325rem 0 1rem;
    color: blue;
}

h2 {
    font-size: 2.4em;
    margin: 0.325rem 0 0.625rem;
    color: darkblue;
}

h3 {
    font-size: 2em;
    margin: 0.325rem 0 0.75rem;
    color: darkcyan;
}

p {
    margin: 0.625rem 0;
}

a {
    color: darkmagenta;
}

.intro {
    padding-bottom: 2em;
}

.quiz-card {
    border: solid 1px yellowgreen;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 20px grey;
}

.container {
    width: 900px;
    margin: auto;
    background-color: aliceblue;
    opacity: 0.8;
    padding: 1.25rem;
    margin-top: 0.625rem;
    border: 2px solid black;
    box-shadow: 5px 5px 10px lightblue;
    border-radius: 10px;
}

.row {
    display: flex;
}

.row > .col {
    flex: 1;
}

.question {
    margin: 0.625rem 1.25rem;
}

.question__question {
    margin: 0.625rem 0;
    font-weight: bold;
}

.level {
    font-size: 0.8em;
}

.level--1 {
    color: darkgreen;
}

.level--2 {
    color: darkgoldenrod;
}

.level--3 {
    color: darkred;
}

.question__info {
    font-style: italic;
    font-size: 0.8em;
}

.question__choices {
    margin: 0.625rem 0;
}

.btn {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
    text-align: center;
    color: red;
    border: 2px solid red;
    background-color: yellow;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.325rem 0;
    cursor: pointer;
}

.nyan {

    background-image: url(https://media.giphy.com/media/sIIhZliB2McAo/giphy.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 95px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    animation-timing-function: ease-in;
    animation-name: nyan;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}

.nyan:hover {
    transform: scale(1.5);
    transition: .5s;
}


.rick-roll {
    display: flex; 
    justify-content: center;
}

.ricky:hover {
    border: 10px solid rgb(235, 14, 216);    
}

.trololo {
    display: flex; 
    justify-content: center;
}

.trolo-img:hover {
    border: 10px solid rgb(235, 14, 216);    
}

.ah {
    background-image: url(https://thumbs.gfycat.com/NiceGloomyAfricanpiedkingfisher-max-1mb.gif);
}

.ah-404 {
    font-size: 25em; 
    color: red; 
}
